@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-background: #17191C;
    --color-foreground: #1D1F23;
    --color-accent: #b3b3b3;
    --color-borders: #3C3E45;
    --color-muted: #9C9C9E;
}

* { 
    font-family: "Lexend Deca", sans-serif; 
    scrollbar-color: #2C2E34 var(--color-background);
    scrollbar-width: thin;
}

.no-scroll {
    overflow: hidden;
}

.container {
    @apply px-4 md:px-4 lg:px-4 xl:px-0
}

/* Animations */
@keyframes flashing {
    0% { opacity: 1; }
    50% { opacity: 0.25; }
    100% { opacity: 1; }
}
  
.anim-flashing {
    animation: flashing 2s ease-in-out infinite;
}

.anim-up {
    @apply transition-all duration-300 hover:-translate-y-1.5;
}